a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-word;
  color: #f8f8ff;
}

a {
  color: #6c2cec;
  transition: color 0.3s ease;
}

a:hover {
  color: #7024f8;
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #6c2cec;
  border-color: #6c2cec;
}

.btn-primary:hover {
  background-color: #7024f8;
  border-color: #7024f8;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #6c2cec;
  border-color: #6c2cec;
}
